@model List<ResultAuthorAdminDto>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/UIAdmin/Index.cshtml";
}

<div>
	<div class="card">
		<div class="card-body">
			<h4 class="card-title">Yazarlarımız</h4>

			<div class="table-responsive">
				<table class="table table-striped mb-0">

					<thead>
						<tr>
							<th>#</th>
							<th>Görsel Yolu</th>
							<th>Ad SoyAd</th>
							<th>Açıklama</th>
							<th>Sil</th>
							<th>Güncelle</th>

						</tr>
					</thead>
					<tbody>

						@foreach (var item in Model)
						{
							<tr>
								<td>@item.AuthorID</td>
								<td><img src="@item.CoverImage" style="height:60px; width:60px;" /></td>
								<td>@item.Name</td>
								@if (item.Description.Length > 50)
								{
									<td>@item.Description.Substring(0,50) ...</td>
								}
								else{<td>@item.Description</td>}
								<td><a href="/Admin/Author/DeleteAuthor/@item.AuthorID" class="btn btn-danger">Sil</a></td>
								<td><a href="/Admin/Author/UpdateAuthor/@item.AuthorID" class="btn btn-success">Güncelle</a></td>

							</tr>
						}

					</tbody>
				</table>
				<td>
					<a href="/Admin/Author/CreateAuthor/" class="btn btn-primary">Ekle</a>
				</td>
			</div>
		</div>
	</div>

</div>

