@model List<ResultContactAdminDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UIAdmin/Index.cshtml";
    int count = 0;
}

<style>
    .small-text {
        font-size: 0.9rem;
    }

    .small-header th {
        font-size: 0.95rem;
    }

    .small-btn {
        font-size: 0.85rem;
        padding: 0.25rem 0.5rem;
    }
</style>

<div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title small-text">Mesaj Verileri</h4>

            <div class="table-responsive">
                <table class="table table-striped mb-0 small-text">

                    <thead class="small-header">
                        <tr>
                            <th>#</th>
                            <th>İsim</th>
                            <th>Mail</th>
                            <th>Konu</th>
                            <th>Mesaj</th>
                            <th>Tarih</th>
                            <th>Sil</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <th scope="row">@count</th>
                                <td>@item.Name</td>
                                <td>@item.Email</td>
                                <td>@item.Subject</td>
                                <td>@item.Message</td>
                                <td>@item.SendDate.ToString("dd-MMM-yyyy")</td>
                                <td><a href="/Admin/Contact/DeleteContact/@item.ContactID" class="btn btn-danger small-btn">Sil</a></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>