@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/UIAdmin/Index.cshtml";
}

<div class="row">
	<div class="col-md-6 col-xl-3">
		<div class="card bg-primary border-primary">
			<div class="card-body">
				<div class="mb-4">
					<span class="badge badge-soft-light float-right">Aylık</span>
					<h5 class="card-title mb-0 text-white">Otomatik Araç Sayısı</h5>
				</div>
				<div class="row d-flex align-items-center mb-4">
					<div class="col-8">
						<h2 class="d-flex align-items-center mb-0 text-white">
							@ViewBag.autoTransCarCount
						</h2>
					</div>
				</div>

				<div class="progress badge-soft-light shadow-sm" style="height: 5px;">
					<div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.autoTransCarCount%;"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-6 col-xl-3">
		<div class="card bg-success border-success">
			<div class="card-body">
				<div class="mb-4">
					<span class="badge badge-soft-light float-right">Aylık</span>
					<h5 class="card-title mb-0 text-white">Toplam Blog Sayısı</h5>
				</div>
				<div class="row d-flex align-items-center mb-4">
					<div class="col-8">
						<h2 class="d-flex align-items-center text-white mb-0">
							@ViewBag.blogCount
						</h2>
					</div>
				</div>

				<div class="progress badge-soft-light shadow-sm" style="height: 7px;">
					<div class="progress-bar bg-light" role="progressbar" style="width: 38%;"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-6 col-xl-3">
		<div class="card bg-warning border-warning">
			<div class="card-body">
				<div class="mb-4">
					<span class="badge badge-soft-light float-right">Aylık</span>
					<h5 class="card-title mb-0 text-white">Toplam Marka Sayısı</h5>
				</div>
				<div class="row d-flex align-items-center mb-4">
					<div class="col-8">
						<h2 class="d-flex align-items-center text-white mb-0">
							@ViewBag.brandCount
						</h2>
					</div>

				</div>

				<div class="progress badge-soft-light shadow-sm" style="height: 7px;">
					<div class="progress-bar bg-light" role="progressbar" style="width: 68%;"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-6 col-xl-3">
		<div class="card bg-info border-info">
			<div class="card-body">
				<div class="mb-4">
					<span class="badge badge-soft-light float-right">Aylık</span>
					<h5 class="card-title mb-0 text-white">Toplam Araç Sayısı</h5>
				</div>
				<div class="row d-flex align-items-center mb-4">
					<div class="col-8">
						<h2 class="d-flex align-items-center text-white mb-0">
							@ViewBag.carCount
						</h2>
					</div>
				</div>

				<div class="progress badge-soft-light shadow-sm" style="height: 7px;">
					<div class="progress-bar bg-light" role="progressbar" style="width: 57%;"></div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-md-6 col-xl-3">
		<div class="card bg-primary border-primary">
			<div class="card-body">
				<div class="mb-4">
					<span class="badge badge-soft-light float-right">Aylık</span>
					<h5 class="card-title mb-0 text-white">Toplam Lokasyon Sayısı</h5>
				</div>
				<div class="row d-flex align-items-center mb-4">
					<div class="col-8">
						<h2 class="d-flex align-items-center mb-0 text-white">
							@ViewBag.locationCount
						</h2>
					</div>
				</div>

				<div class="progress badge-soft-light shadow-sm" style="height: 5px;">
					<div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.locationCount%;"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-6 col-xl-3">
		<div class="card bg-success border-success">
			<div class="card-body">
				<div class="mb-4">
					<span class="badge badge-soft-light float-right">Aylık</span>
					<h5 class="card-title mb-0 text-white">Ortalama Araç Fiyatı</h5>
				</div>
				<div class="row d-flex align-items-center mb-4">
					<div class="col-8">
						<h2 class="d-flex align-items-center text-white mb-0">
							@ViewBag.monthCarPricing
						</h2>
					</div>
				</div>

				<div class="progress badge-soft-light shadow-sm" style="height: 7px;">
					<div class="progress-bar bg-light" role="progressbar" style="width: 38%;"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-6 col-xl-3">
		<div class="card bg-warning border-warning">
			<div class="card-body">
				<div class="mb-4">
					<span class="badge badge-soft-light float-right">Aylık</span>
					<h5 class="card-title mb-0 text-white">Popüler Blog</h5>
				</div>
				<div class="row d-flex align-items-center mb-4">
					<div class="col-8">
						<h2 class="d-flex align-items-center text-white mb-0">
							<td>
								<a href="/Admin/Blog/DetailBlog/@ViewBag.mostBlogComment" class="btn btn-primary btn-sm" style="margin-right:5px;">Bloga Git</a>
							</td>
							<td>
								<a href="/Admin/Comment/GetBlogComments/@ViewBag.mostBlogComment" class="btn btn-secondary btn-sm">Yorumlara Git</a>
							</td>
						</h2>
					</div>

				</div>

				<div class="progress badge-soft-light shadow-sm" style="height: 7px;">
					<div class="progress-bar bg-light" role="progressbar" style="width: 68%;"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-6 col-xl-3">
		<div class="card bg-info border-info">
			<div class="card-body">
				<div class="mb-4">
					<span class="badge badge-soft-light float-right">Aylık</span>
					<h5 class="card-title mb-0 text-white">Popüler Marka</h5>
				</div>
				<div class="row d-flex align-items-center mb-4">
					<div class="col-8">
						<h2 class="d-flex align-items-center text-white mb-0">
							@ViewBag.mostBrandedCarBrand
						</h2>
					</div>
				</div>

				<div class="progress badge-soft-light shadow-sm" style="height: 7px;">
					<div class="progress-bar bg-light" role="progressbar" style="width: 57%;"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-xl-3">
		<div class="card bg-primary border-primary">
			<div class="card-body">
				<div class="mb-4">
					<span class="badge badge-soft-light float-right">Aylık</span>
					<h5 class="card-title mb-0 text-white">Yazar Sayısı</h5>
				</div>
				<div class="row d-flex align-items-center mb-4">
					<div class="col-8">
						<h2 class="d-flex align-items-center mb-0 text-white">
							@ViewBag.authorCount
						</h2>
					</div>
				</div>

				<div class="progress badge-soft-light shadow-sm" style="height: 5px;">
					<div class="progress-bar bg-light" role="progressbar" style="width: 45%;"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-6 col-xl-3">
		<div class="card bg-success border-success">
			<div class="card-body">
				<div class="mb-4">
					<span class="badge badge-soft-light float-right">Günlük</span>
					<h5 class="card-title mb-0 text-white">Ortalama Araç Fiyatı</h5>
				</div>
				<div class="row d-flex align-items-center mb-4">
					<div class="col-8">
						<h2 class="d-flex align-items-center text-white mb-0">
							@ViewBag.todayCarPricingAvg
						</h2>
					</div>
				</div>

				<div class="progress badge-soft-light shadow-sm" style="height: 7px;">
					<div class="progress-bar bg-light" role="progressbar" style="width: 38%;"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-6 col-xl-3">
		<div class="card bg-warning border-warning">
			<div class="card-body">
				<div class="mb-4">
					<span class="badge badge-soft-light float-right">Haftalık</span>
					<h5 class="card-title mb-0 text-white">Ortalama Araç Fiyatı</h5>
				</div>
				<div class="row d-flex align-items-center mb-4">
					<div class="col-8">
						<h2 class="d-flex align-items-center text-white mb-0">
							@ViewBag.weekCarPricingAvg
						</h2>
					</div>

				</div>

				<div class="progress badge-soft-light shadow-sm" style="height: 7px;">
					<div class="progress-bar bg-light" role="progressbar" style="width: 68%;"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-6 col-xl-3">
		<div class="card bg-info border-info">
			<div class="card-body">
				<div class="mb-4">
					<span class="badge badge-soft-light float-right">Günlük</span>
					<h5 class="card-title mb-0 text-white">En Uygun Model</h5>
				</div>
				<div class="row d-flex align-items-center mb-4">
					<div class="col-8">
						<h2 class="d-flex align-items-center text-white mb-0">
							@ViewBag.MinTodayPriceCarBrandModel
						</h2>
					</div>
				</div>

				<div class="progress badge-soft-light shadow-sm" style="height: 7px;">
					<div class="progress-bar bg-light" role="progressbar" style="width: 57%;"></div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-md-6 col-xl-3">
		<div class="card bg-primary border-primary">
			<div class="card-body">
				<div class="mb-4">
					<span class="badge badge-soft-light float-right">Günlük</span>
					<h5 class="card-title mb-0 text-white">En Pahalı Modeli</h5>
				</div>
				<div class="row d-flex align-items-center mb-4">
					<div class="col-8">
						<h2 class="d-flex align-items-center mb-0 text-white">
							@ViewBag.MaxTodayPriceCarBrandModel
						</h2>
					</div>
				</div>

				<div class="progress badge-soft-light shadow-sm" style="height: 5px;">
					<div class="progress-bar bg-light" role="progressbar" style="width: 45%;"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-6 col-xl-3">
		<div class="card bg-success border-success">
			<div class="card-body">
				<div class="mb-4">
					<span class="badge badge-soft-light float-right">Toplam</span>
					<h5 class="card-title mb-0 text-white">Elektirikli Araç</h5>
				</div>
				<div class="row d-flex align-items-center mb-4">
					<div class="col-8">
						<h2 class="d-flex align-items-center text-white mb-0">
							@ViewBag.getElectricCarCount
						</h2>
					</div>
				</div>

				<div class="progress badge-soft-light shadow-sm" style="height: 7px;">
					<div class="progress-bar bg-light" role="progressbar" style="width: 38%;"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-6 col-xl-3">
		<div class="card bg-warning border-warning">
			<div class="card-body">
				<div class="mb-4">
					<span class="badge badge-soft-light float-right">Toplam</span>
					<h5 class="card-title mb-0 text-white">1000 KM Altı Araç</h5>
				</div>
				<div class="row d-flex align-items-center mb-4">
					<div class="col-8">
						<h2 class="d-flex align-items-center text-white mb-0">
							@ViewBag.getCarUnder1000kmCount
						</h2>
					</div>

				</div>

				<div class="progress badge-soft-light shadow-sm" style="height: 7px;">
					<div class="progress-bar bg-light" role="progressbar" style="width: 68%;"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-6 col-xl-3">
		<div class="card bg-info border-info">
			<div class="card-body">
				<div class="mb-4">
					<span class="badge badge-soft-light float-right">Toplam</span>
					<h5 class="card-title mb-0 text-white">Personel Sayısı</h5>
				</div>
				<div class="row d-flex align-items-center mb-4">
					<div class="col-8">
						<h2 class="d-flex align-items-center text-white mb-0">
							@ViewBag.getTestimonailCount
						</h2>
					</div>
				</div>

				<div class="progress badge-soft-light shadow-sm" style="height: 7px;">
					<div class="progress-bar bg-light" role="progressbar" style="width: 57%;"></div>
				</div>
			</div>
		</div>
	</div>
</div>