@model List<ResultLast3BlogInBlogDetailDto>
<div class="sidebar-box ftco-animate">
	<h3>Son 3 Blog</h3>
	@foreach (var item in Model)
	{
		<div class="block-21 mb-4 d-flex">
			<a class="blog-img mr-4" style="background-image: url(@item.coverImage);"></a>
			<div class="text">
				<h3 class="heading"><a href="#">@item.title</a></h3>
				<div class="meta">
					<div><a href="#"><span class="icon-calendar"></span> @item.date.ToString("dd-MM-yyyy")</a></div>
					<div><a href="#"><span class="icon-person"></span> @item.authorName</a></div>
					<div><a href="#"><span class="icon-chat"></span> @item.viewCount</a></div>
				</div>
			</div>
		</div>
	}
</div>